body {
    color: #fff;
    background: rgba(71,124,189,1);
    background: -moz-linear-gradient(-45deg, rgba(71,124,189,1) 0%, rgba(71,124,189,1) 39%, rgba(105,153,201,1) 69%, rgba(105,153,201,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(71,124,189,1)), color-stop(39%, rgba(71,124,189,1)), color-stop(69%, rgba(105,153,201,1)), color-stop(100%, rgba(105,153,201,1)));
    background: -webkit-linear-gradient(-45deg, rgba(71,124,189,1) 0%, rgba(71,124,189,1) 39%, rgba(105,153,201,1) 69%, rgba(105,153,201,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(71,124,189,1) 0%, rgba(71,124,189,1) 39%, rgba(105,153,201,1) 69%, rgba(105,153,201,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(71,124,189,1) 0%, rgba(71,124,189,1) 39%, rgba(105,153,201,1) 69%, rgba(105,153,201,1) 100%);
    background: linear-gradient(135deg, rgba(71,124,189,1) 0%, rgba(71,124,189,1) 39%, rgba(105,153,201,1) 69%, rgba(105,153,201,1) 100%);
    min-height: 100%;
}

html {
	height: 100%
}

.weight {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #fff
}

.result {
	font-size: 30px
}

.contacts__link {
    color: #fff
}
